h1
{
    text-align: center;
    background-color: coral;
    color: white;
    padding: 20px;
    margin: 10px 100px 50px 100px;
}
h2
{
    text-align: center;
    background-color: tomato;
    padding: 20px;
    color: white;
    margin: 0 300px 50px;
}
h3
{
    text-align: center;
    color: white;
    background-color: magenta;
    padding: 20px;
    margin: 0 500px 20px;
}
h4
{
    background-color: silver;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0 600px 50px;
}