@media ( max-width: 400px )
{
    body
    {
        width: 360px;
        
    }
    h1
    {
        text-align: center;
        background-color: coral;
        color: white;
        padding: 5px 10px;
        width: 90%;
        margin: 0 auto;
        font-size: 17px;
        margin-bottom: 10px;
    }
    h2
    {
        text-align: center;
        background-color: tomato;
        padding: 5px 10px;
        color: white;
        width: 85%;
        margin: 0 auto;
        font-size: 17px;
        margin-bottom: 10px;
    }
    h3
    {
        text-align: center;
        color: white;
        background-color: magenta;
        padding: 5px 10px;
        width: 70%;
        margin: 0 auto;
        font-size: 17px;
        margin-bottom: 10px;
    }
    h4
    {
        background-color: silver;
        color: white;
        padding: 5px 10px;
        text-align: center;
        width: 55%;
        margin: 0 auto;
        font-size: 17px;
        margin-bottom: 10px;
    }
}